.book{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding: 10px 40px 40px 40px;

    box-shadow: 0 5px 5px -5px rgba(0,0,0,0.2);
}
.book > div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 20px;
}
.book > .book-img{
    width: 50%;
    max-width: 300px;
    max-height: 300px;
}

.book > .book-img > img {
    width: 100%;
    object-fit: contain;
}

.book > .book-info{
    align-items: flex-start;
    width: 70%;
}


.book > .book-info > h1, .book > .book-info > h4 {
    margin: 5px 0;
}